<div class="aboutcontainer">
	<h1 class= "jumbotron">Overview<h1/>
		<p>In a perfect world, every child would be nurtured by a loving family, attend a challenging and exciting school and live in a supportive community. But the sad reality is that not every child has these opportunities.</p>

<p>The Children’s Aid Society helps children in poverty to succeed and thrive. We have been serving children for over 160 years, a longevity that is a testament to our ability to adapt to the ever-changing needs of today’s youth. After all, you don’t succeed for 160 years by being old-fashioned.</p>

<p>Today, Children’s Aid serves New York's neediest children and their families at more than 40 locations in the five boroughs and Westchester County. Our caring begins even before birth, through prenatal counseling and assistance, and continues through the high school years with college and job preparatory training programs. All aspects of a child’s development are addressed as he or she grows, from health care to academics to sports and the arts. And because stable children live in stable families, a host of services are available to parents, including housing assistance, domestic violence counseling and health care access.</p>

<p>Throughout Children’s Aid’s history, programming has been driven by the needs of the children we serve. This proactive approach started in 1853, when Children’s Aid founder Charles Loring Brace established the Orphan Train Movement in response to an epidemic of homeless children. This approach, which moved children from New York City streets to the homes of farm families out West, has been deemed the beginning of the modern foster care system.</p>

<p>Children’s Aid has continuously been at the forefront of children’s services. The first free school lunch program, the first industrial school for poor children, the first day care program for working mothers and the first visiting nurse service were all Children’s Aid initiatives.</p>

<p>Even today, Children’s Aid remains on the cutting edge of children’s services. The Carrera Adolescent Sexuality and Pregnancy Prevention Program has been replicated or adapted at over 50 locations in 21 different states. The community school model has been adapted by public schools throughout the U.S. and as far away as Vietnam. Children’s Aid’s concurrent planning approach to foster care became the basis for the federal 1996 Adoption and Safe Families Act, which defines today’s modern foster care system</p>.

<p>Children's Aid meets or exceeds all standard for compliance and best in class performance with respect to dollars going towards direct services to children and families, part of its record of 14 consecutive 4-star ratings from Charity Navigator, which rates the financial responsibility of non-profit organizations.</p>

<p>Children’s Aid’s ability to adapt to the changing needs of children and their families has kept us a relevant and vital component in the lives of New York City’s children for over 160 years. Our future, and the opportunities we will provide, are truly limitless.</p>

<h3>Our Mission</h3>

<p>The Children’s Aid Society helps children in poverty to succeed and thrive. We do this by providing comprehensive supports to children and their families in targeted high-needs New York City neighborhoods.</p>
</div>