<h1 class="jumbotron">Contact Us</h1>
<div class="contactinfo">
	<pre>
		OVERVIEW
Have more questions?

The Children's Aid Society is making a difference everday for New York City's neediest children and their families. We would love the opportunity to tell you more about us, help you get involved, or help with a donation. 

For any additional questions that were not answered by browsing our Web site, please write or call us.

By U.S. Mail

The Children's Aid Society
711 Third Avenue, Suite 700
New York, NY 10017

NOTE: If you write, please note the reason for your inquiry on the outer envelope of your letter.

Examples:

The Children's Aid Society
711 Third Avenue, Suite 700
New York, NY 10017
Re: Volunteer Opportunities

The Children's Aid Society
711 Third Avenue, Suite 700
New York, NY 10017
Re: Adoption Search

By Phone

CAS switchboard: (212) 949-4800

By Email

For those who prefer to correspond via email, please select an email box below based on the nature of your inquiry:

<a href="volunteer@childrensaidsociety.org">Volunteer at CAS</a>
<a href="donate@childrensaidsociety.org">Donate to CAS</a>
<a href="webmaster@childrensaidsociety.org">History of CAS</a>
<a href="publicrelations@childrensaidsociety.org">Press/Media Inquiries</a>
<a href="fosteradopt@childrensaidsociety.org">Adoption/Foster Care at CAS</a>
<a href="webmaster@childrensaidsociety.org">Webmaster at CAS</a>
	</pre>