<h1 class="jumbotron">Contact Us</h1>
<div class="contactinfo">
	<h2>OVERVIEW<h2>
	<h3>Have more questions?</h3>

	<p>The Children's Aid Society is making a difference everday for New York City's neediest children and their families. We would love the opportunity to tell you more about us, help you get involved, or help with a donation.</p>

	<p>For any additional questions that were not answered by browsing our Web site, please write or call us.</p>

	<h4>By U.S. Mail</h4>

	<p>The Children's Aid Society</p>
	<p>711 Third Avenue, Suite 700</p>
	<p>ew York, NY 10017</p>

	<p>NOTE: If you write, please note the reason for your inquiry on the outer envelope of your letter.</p>

<pre>Examples:

The Children's Aid Society
711 Third Avenue, Suite 700
New York, NY 10017
Re: Volunteer Opportunities

The Children's Aid Society
711 Third Avenue, Suite 700
New York, NY 10017
Re: Adoption Search</pre>

<h5>By Phone</h5>

<p>CAS switchboard: (212) 949-4800</p>

<h5>By Email</h5>

<p>For those who prefer to correspond via email, please select an email box below based on the nature of your inquiry:</p>
<div>
<a href="mailto:volunteer@childrensaidsociety.org">Volunteer at CAS</a>
<a href="mailto:donate@childrensaidsociety.org">Donate to CAS</a>
<a href="mailto:webmaster@childrensaidsociety.org">History of CAS</a>
<a href="mailto:publicrelations@childrensaidsociety.org">Press/Media Inquiries</a>
<a href="mailto:fosteradopt@childrensaidsociety.org">Adoption/Foster Care at CAS</a>
<a href="mailto:webmaster@childrensaidsociety.org">Webmaster at CAS</a>
</div>