<h1 class="jumbotron">User Login</h1>
<div>
	<div class="item item-divider">
		Register
		</div>
	
	<form ng-Submit= "createNewUser()">
		<input type="text" placeholder="First Name" ng-model='firstname' class="loginInput"></input>	
		<input type="text" placeholder="Last Name" ng-model='lastname' class="loginInput"></input>
		<input type="text" placeholder="School" ng-model='school' class="loginInput"></input>
		<input type="email" placeholder="Email" ng-model='email' class="loginInput"></input>
		<input type="password" placeholder="Password" ng-model='password' class="loginInput"></input>
		<input type="text" placeholder="Mentor's First Name" ng-model='mentorfirstname' class="loginInput"></input>
		<input type="text" placeholder="Mentor's Last Name" ng-model='mentorlastname' class="loginInput"></input>
		<input type="text" placeholder="Relation to Mentor" ng-model='relationship' class="loginInput"></input>
		<input type="email" placeholder="Mentor's Email" ng-model='mentoremail' class="loginInput"></input>
		<div class="item item-divider">
			<button type='submit' class="submitBtn">Submit</button>
			<button type='button' ng-click="" class="submitBtn">Back</button>

			</div>
	</form>
</div>