<img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg">
<h1 class= jumbotron>User Login</h1>
		<form ng-Submit= "getUser()">

		<hr>
		
		<hr>

		<div class= "login_input">
			<input type="text" placeholder="Email" ng-model='email' class= "col-md-6"></input>
			<input type="password" placeholder="Password" ng-model='password' class= "col-md-6"></input>
		</div>
			<div class="loginbuttons"></div>
    			<button type='submit' class= "col-md-6">Submit</button>
    			<button type='button' ng-click="toNewUser()" class= "col-md-6">New User</button>
  			</div>
		</form>
		<hr>
	</div>