<div class="container">
<h1 class ="jumbotron">Educational Resources</h1>
	<div class="col-sm-6">
	<h4>Elementary School</h4>
	<a href="https://studentaid.ed.gov/sa/prepare-for-college/checklists/elementary-school">Elementary School Resources</a></br>
	</div>
	<div class="col-sm-6">
	<h4>Middle School</h4>
	<a href="https://studentaid.ed.gov/sa/prepare-for-college/checklists/middle-school">Middle School Resources</a></br>
	</div>
	<div class="col-sm-6">
	<h4>High School Freshmans<h4>
	<h5>Grade 9</h5>

	<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/9th-grade">High School Freshman Checklists</a></br>
	<a href="http://www.collegeprep101.com/uploads/1/1/7/2/11721368/freshman_year_checklist.pdf">More High School Freshman CheckList</a>
	</div>
	<div class="col-sm-6">

	<h4>High School Sophomores</h4>
	<h5>Grade 10</h5>
	</div>
	<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/10th-grade">High School Sophmore Checklist></a></br>
	<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/sophomore_year_checklist.pdf">More High School Sophmore Checklists</a>
	<div class="col-sm-6">
	<h4>High School Juniors</h4>
	<h5>Grade 11</h5>

	<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/11th-grade">High School Junior Checklist</a></br>
	<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/junior_year_checklist.pdf">More High School Junior Checklists</a>
	</div>
	<div class="col-sm-6">
	<h4>High School Seniors</h4>
	<h5>Grade 12</h5>
	<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/12th-grade">High School Senior Checklist</a></br>
	<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/senior_year_checklist.pdf">More High School Senior Checklists</a>
	</div>
	<div class="col-sm-6">
	<h4>Adult Students</h4>
	<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/adult-student">Adult Student Checklists</a></br>
	</div>
	<div class="col-sm-6">
	<h4>Financial Aid Infographic<h4>
	<a href= "https://studentaid.ed.gov/sa/sites/default/files/financial-aid-process.png">Finanacial Aid Help</a>
	</div>
<div>