<h1>Educational Resources</h1>
<h4>Elementary School</h4>

<a href="https://studentaid.ed.gov/sa/prepare-for-college/checklists/elementary-school">Elementary School Resources</a>

<h4>Middle School</h4>

<a href="https://studentaid.ed.gov/sa/prepare-for-college/checklists/middle-school">Middle School Resources</a>

<h4>High School Freshman<h4>
<h5>Grade 9</h5>

<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/9th-grade">Freshman Checklists</a>
<a href="http://www.collegeprep101.com/uploads/1/1/7/2/11721368/freshman_year_checklist.pdf">More Freshman CheckList</a>

<h4>High School Sophomore</h4>
<h5>Grade 10</h5>

<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/10th-grade">Sophmore Checklist></a>
<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/sophomore_year_checklist.pdf">More Sophmore Checklists</a>

<h4>High School Junior</h4>
<h5>Grade 11</h5>

<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/11th-grade"></a>
<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/junior_year_checklist.pdf"></a>

High School Senior:
-Grade 12:

<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/12th-grade"></a>
<a href= "http://www.collegeprep101.com/uploads/1/1/7/2/11721368/senior_year_checklist.pdf"></a>

Adult Student:

<a href= "https://studentaid.ed.gov/sa/prepare-for-college/checklists/adult-student"></a>

Financial Aid Infographic:

<a href= "https://studentaid.ed.gov/sa/sites/default/files/financial-aid-process.png"></a>