<ion-pane>
	<h1>Register</h1>
	<div class="card">

		<hr>
		<img src="..\..\..\..\..\casfrontend\www\img\caslogo.jpg">

		<form ng-Submit= "sendForVerification()">
			<hr>
			<div class="form-inline">
				<input type="text" placeholder="First Name" ng-model='firstname' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Last Name" ng-model='lastname' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="School" ng-model='school' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Email" ng-model='email' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="password" placeholder="Password" ng-model='password' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Mentor's First Name" ng-model='mentorfirstname' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Mentor's Last Name" ng-model='mentorlastname' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Relation to Mentor" ng-model='mentorrelation' class="loginInput"></input>
			</div>
			<div class="form-inline">
				<input type="text" placeholder="Mentor's Email" ng-model='mentoremail' class="loginInput"></input>
			</div>
			<div class="item item-divider">
	    		<button type='submit' class="submitBtn">Submit</button>
	  		</div>
	  		<hr>
		</form>

		<button type='login' class="loginBtn">Return to Login</button>
	</div>
</ion-pane>